<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  
  <title>Title</title>

  <link rel="stylesheet" href="../public/style.css">
  <link href="https://fonts.googleapis.com/css?family=Mukta+Mahee|Open+Sans:300" rel="stylesheet"><!--   <script type="text/javascript" src="/script.js"></script> -->

</head>

<body id="homepage">

  <div id="container_navbar">
    <header>
     <div id="name">PHILIP WALTON</div>
     <div id="status">Engineer @ Google</div>
    </header>
       
    </div>

    <footer>
      <a></a>
    </footer>
  </div>


</body>
</html>