/*-------------------------------------page structure------------------------------------*/

Body{
	margin:0;
}


/*-------------------------------------header--------------------------------------------*/


#container_navbar {
  background-color:#3F3F3F;
  padding: 15px;
}

#name {
	font-size: 22px; 
	color:#F6F2EF;
	font-family: 'Mukta Mahee', sans-serif;
}

#status {
	font-size: 14px;
	color:#d2d2d2;
	font-family: 'Open Sans', sans-serif;
}
