<!DOCTYPE html>
<html lang="en">
<head>
	
  <meta charset="utf-8">

  <title>{{page.title}}</title>

  <link rel="stylesheet" href="styles.css">
  <link href="https://fonts.googleapis.com/css?family=Mukta+Mahee|Open+Sans:300" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Teko:500" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

  <script src="https://use.fontawesome.com/c2e1b7e52d.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="main.js"></script>


</head>

<body id="cover_letter">

	{{ content }}

</body>
</html>